:root {
    --preto: #2A2B2A;
    --amarelo: #dba204;
    --amareloTransparente: #dba20488;
    --branco: #ffffff;
}

/* geral */

header, footer {
    background-color: var(--preto);
}

.nav-link, footer {
    color: var(--branco)!important;
}

/* index */

#bannerSection {
    height: 700px;
    background-image: url(../images/banners/bannerHome.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#infoBanner {
    width: 500px;
    padding: 2rem;
    background-color: var(--amareloTransparente);
}

#imgObras {
    box-shadow: 6px 6px 6px var(--preto);
}

/* catálogo */

.card button {
    background-color: var(--preto);
    color: var(--amarelo);
    border: none;

}

.card button:hover {
    background-color: var(--amarelo);
    color: var(--preto);
}

.card button:active {
    background-color: var(--branco)!important;
    color: var(--amarelo)!important;
}