/* root salva variáveis */
/* --variável : dado ; */
/* chamar var = var(--variável) */
/* element!important = prioriza o código */
:root{
    --branco-azul: #c3f3fcdd;
    --branco-azul2: #c3f3fc70;
    --preto: #000000;
}

#page{
    background-color: var(--preto)!important;
    color: var(--branco-azul);
}